/* Large and medium Screen */

@media (min-width:768px){

  #main1{
    background-image: url(./images/main.png);
    background-size:auto;
    background-position:100% 70%;

  }

  .navbar {
    overflow:;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:100;



  }
  #list1{
    height:40px;
    font-size:20px;
    font-weight:400;
    text-shadow: 1px 1px black;
    padding-top:0px;

}


  #main2{
    background-image: url(./images/plan.png);
    background-size:auto;
    background-position:0% 40%;
  }



  .nonlink{
    padding-left: 30px;
  }


  .row{
    height:350px;
  }


  h1{
    font-weight:400;
    padding-right: 25px;
    text-align:center;
    text-shadow: 1px 1px lightgray;
  }

  h2{
    font-weight: 300;
    padding-right:10px;
    text-align: center;
    text-shadow: 1px 1px white;
  }
}



/*------------small screen-------------*/


@media (max-width:768px){


  #smnav{
    padding-top:0;
    z-index: 3;
    background-color: #333;

  }
  .navlist{
    list-style-type: none;
    height:250px;

}

  .navlist li a{
    color:white;


  }

  hr{
    padding:0;
    margin:0;
  }


.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}


  #sm-main{
    margin-top:-50px;
    max-width:100%;
    background-image: url(./images/mainsmall.png);
    background-position:60% 40%;
    padding-bottom:5px;
    padding-top:0px;
    height:700px;
  }

  #sm-text{
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    padding-top: 200px

    }

    h2{
      font-size: 4vw;

    }

    h3{
      font-size: 3vw;

  }

}


/*--------general--------*/



.img-thumbnail{
  height:auto;
  width:100%;


}

hr{
  border-color:black;
}

p{
  text-align: justify;
}

.aboutme{
  height:60px;
}


a:hover{
  text-decoration: underline;
  font-size:110%;

}

img:hover{
  transform: scale(1.1);
}
